<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K线</title>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/qwebchannel.js"></script>
    <script src="js/theme/chalk.js"></script>
</head>
<style>
html,body{margin:0;padding:0;background-color: rgb(235,235,235)}
#chartBox{width: 80%;background-color: rgb(252,252,252);margin: 0 auto}
</style>
<body>
    <div id="chartBox"></div>
</body>
<script>
// 获取作图的数据
function getLineData(priceNameEn, sourceData) {
    if(priceNameEn === 'weight'){
        return sourceData.map(item=>{if (item.weight_price === 0.00){return '-'}else{return item.weight_price}})
    }else if(priceNameEn === 'dominant'){
        return sourceData.map(item=>{if (item.dominant_price === 0){return '-'}else{return item.dominant_price}})
    }else{
        return []
    }
}
// 实例化echarts option的函数
function generateChartOption(sourceData, baseOption){
    let chartTitle = baseOption["title"];
    let priceName = baseOption['price_name'];
    let priceNameEn = baseOption['price_name_en']
    return {
        color: ["#ff0000","#0000ff", "#61a0a8"],
        grid: {
            bottom: 10,
            containLabel: true
        },
        title:{
            text: chartTitle,
            textStyle: {fontSize: 22}
        },
        xAxis:{
            type: 'category',
            data: sourceData.map(item=>item.date),
            axisLabel: {
                rotate: 90,
                fontSize: 11
            }
        },
        yAxis: [
            {
                type: "value",
                name: priceName,
                nameLocation: 'center',
                nameGap:55,
                position:'left'
            }
        ],
        tooltip:{
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
            }
        },
        series: [
            {
                type: "line",
                name: priceName,
                yAxisIndex: 0,
                connectNulls: true,
                lineStyle:{
                    width: 3
                },
                symbol:'none',
                data: getLineData(priceNameEn, sourceData)
            }
        ],
        legend:{
            type:'plain',
            right:'13%',
            top: 30,
            orient: 'vertical',
            data:[
                {name: priceName,icon: 'rect'}
            ],
            itemHeight: 2

        }
    };
}
// 主入口函数
$(function () {
    let chartObj = echarts.init(document.getElementById('chartBox'));
    // 与UI界面通讯的实例
    new QWebChannel(qt.webChannelTransport, function(channel)
        {
            let pageContact = channel.objects.pageContactChannel;
            // 传入绘图数据
            pageContact.lineData.connect(function (sourceData, baseOption) {
                let option = generateChartOption(JSON.parse(sourceData), JSON.parse(baseOption));
                chartObj.clear();
                chartObj.setOption(option, true)
            });
            // 传入重置大小
            pageContact.chartResize.connect(function (cWidth, cHeight) {
                chartObj.resize({width: cWidth, height: cHeight});
            })
        }
    );
})
</script>
</html>