<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K线</title>
    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/qwebchannel.js"></script>
    <script src="js/theme/chalk.js"></script>
</head>
<style>
html,body{margin:0;padding:0;background-color: rgb(235,235,235)}
#chartBox{width: 100%;background-color: rgb(252,252,252);margin: 0 auto}
</style>
<body>
    <div id="chartBox"></div>
</body>
<script>
// 获取作图的数据
function getLineData(priceNameEn, sourceData) {
    if(priceNameEn === 'weight'){
        return sourceData.map(item=>{if (item.weight_price === 0.00){return '-'}else{return item.weight_price}})
    }else if(priceNameEn === 'dominant'){
        return sourceData.map(item=>{if (item.dominant_price === 0){return '-'}else{return item.dominant_price}})
    }else{
        return []
    }
}
// 实例化echarts option的函数
function generateChartOption(sourceData, baseOption){
    let chartTitle = baseOption["title"];
    let priceName = baseOption['price_name'];
    let priceNameEn = baseOption['price_name_en']
    return {
        color: ["#ff0000","#0000ff", "#61a0a8"],
        grid: {
            bottom: 10,
            containLabel: true
        },
        title:{
            text: chartTitle,
            textStyle: {fontSize: 22}
        },
        xAxis:{
            type: 'category',
            data: sourceData.map(item=>item.date),
            axisLabel: {
                rotate: 90,
                fontSize: 11
            }
        },
        yAxis: [
            {
                type: "value",
                name: priceName,
                scale: true,
                nameLocation: 'center',
                nameGap:55,
                position:'left'
            }
        ],
        tooltip:{
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
            }
        },
        toolbox:{
            feature:{
                dataZoom:{},
                dataView:{},
            }
        },
        series: [
            {
                type: "line",
                name: priceName,
                yAxisIndex: 0,
                connectNulls: true,
                lineStyle:{
                    width: 3
                },
                symbol:'none',
                data: getLineData(priceNameEn, sourceData)
            }
        ],
        legend:{
            type:'plain',
            right:'13%',
            top: 30,
            orient: 'vertical',
            data:[
                {name: priceName,icon: 'rect'}
            ],
            itemHeight: 2

        }
    };
}


// 生成季节图的series, legend
function getSeriesLegend(sourceData, baseOption) {
    let lineTypeKey = baseOption['price_name_en'];  // 权重或是主力合约
    let legendData = [];  // 图例数据
    let legendSelected = {}; // 图形是否显示
    let series = []; // 图形序列
    let dataIndex = 1;  // 循环计数器(数据中含xAxisData,故初始=1)
    if (lineTypeKey === 'weight'){
        $.each(sourceData, function (dataKey, dataValues) {
            if (dataKey === 'xAxisData'){return true}
            legendData.push({name: dataKey, icon: 'rect'})
            legendSelected[dataKey] = dataIndex >= Object.keys(sourceData).length - 3;  //  默认显示后3条
            series.push({
                name: dataKey,
                type: 'line',
                connectNulls: true,
                lineStyle:{
                    width:3,
                },
                symbol: 'none',
                data: dataValues.map(item=>{return [item.date, item.weight_price]})
            });
            dataIndex = dataIndex + 1;
        })
    }else if (lineTypeKey === 'dominant'){
        $.each(sourceData, function (dataKey, dataValues) {
            if (dataKey === 'xAxisData'){return true}
            legendData.push({name: dataKey, icon: 'rect'})
            legendSelected[dataKey] = dataIndex >= Object.keys(sourceData).length - 3;  //  默认显示后3条
            series.push({
                name: dataKey,
                type: 'line',
                connectNulls: true,
                lineStyle:{
                    width:3,
                },
                symbol: 'none',
                data: dataValues.map(item=>{return [item.date, item.dominant_price]})
            });
             dataIndex = dataIndex + 1;
        })
    }else{}
    return [series, legendData, legendSelected]
}


// 生成季节图形的配置
function generateSeasonChartOption(sourceData, baseOption){
    let chartTitle = baseOption['title'];
    let yAxisName = baseOption['y_axis_name'];
    let seriesLegendData = getSeriesLegend(sourceData, baseOption);
    return {
        color: ['#194f97','#555555','#bd6b08','#00686b','#c82d31','#625ba1','#898989','#9c9800','#007f54','#a195c5',
            '#103667','#f19272'],
        grid: {
            bottom: 30,
            containLabel: true
        },
        title:{
            text: chartTitle,
            textStyle: {fontSize: 22}
        },
        xAxis: {
            data: sourceData['xAxisData'],
            axisTick:{
                interval:function (index, value) {
                    var v = "2020/" + value.substr(0,2) + "/" + value.substr(2,2);
                    var lastDay = new Date("2020", value.substr(0,2), 0);
                    var date = new Date(v);
                    if (date.getDate() == lastDay.getDate()){
                        return true
                    }
                },
                alignWithLabel:true
            },
            axisLabel:{
                interval:0,
                formatter:function (value, index) {
                    var v = "2020/" + value.substr(0,2) + "/" + value.substr(2,2);
                    var date = new Date(v);
                    if (date.getDate() == 15){
                        return (date.getMonth() + 1) + "月";
                    }
                    // return date.getMonth() + 1;
                }
            }
        },
        yAxis: {
            type: 'value',
            scale: true,
            name: yAxisName,
            nameLocation: 'center',
            nameGap:55,
            position: 'left',
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross'
            },
        },
        series: seriesLegendData[0],
        legend:{
            type:'scroll',
            right:10,
            top: 35,
            orient: 'vertical',
            data:seriesLegendData[1],
            itemHeight: 2,
            selected: seriesLegendData[2]
        }
    }
}

// 主入口函数
$(function () {
    let chartObj = echarts.init(document.getElementById('chartBox'));
    // 与UI界面通讯的实例
    new QWebChannel(qt.webChannelTransport, function(channel)
        {
            let pageContact = channel.objects.pageContactChannel;
            // 传入绘图数据
            pageContact.lineData.connect(function (sourceData, baseOption) {
                let option = generateChartOption(JSON.parse(sourceData), JSON.parse(baseOption));
                chartObj.clear();
                chartObj.setOption(option, true)
            });
            // 传入绘制季节图形
            pageContact.seasonData.connect(function (sourceData, baseOption) {
                let option = generateSeasonChartOption(JSON.parse(sourceData), JSON.parse(baseOption));
                chartObj.clear();
                chartObj.setOption(option, true);
            })
            // 传入重置大小
            pageContact.chartResize.connect(function (cWidth, cHeight) {
                chartObj.resize({width: cWidth, height: cHeight});
            });
            // 清除图形
            pageContact.clearChart.connect(function () {
                chartObj.clear();
            })
        }
    );
})
</script>
</html>